<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<!-- Materialize Style CDN -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

		<title>MVC With Hamburgers!</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				{{{ body }}}
			</div>
		</div>
	</body>

<!-- Code for Parallax Background Effect-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/assets/js/parallax.js"></script>
  <script type="text/javascript">
      $('.parallax-window2').parallax({imageSrc: '/assets/img/burgers.png'});
  </script>



</html>