
<h1>Hamburguesa's</h1>

<div class="col s6">
    <h5>Burgers that have not been devoured</h5>

    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
            {{this.burger_name}}
              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit" class="waves-effect waves-light btn">Devoured!</button>
              </form>

            {{> burgers/delete-burger}}
          </li>
        {{/unless}}
      {{/each}}
    </ul>
</div>


<div class="col s6">
  <h5> Burgers that have been devoured</h5>

  <ul>
    {{#each burgers}}
      {{#if this.devoured}}
        <li>
          {{this.burger_name}}
          <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="false" />
            <button type="submit" class="waves-effect waves-light btn">Un-devour</button>
          </form>

          {{> burgers/delete-burger}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<div class="col s12">
  <h2>Add a burger</h2>
  <form class="create-update-form" action="burgers/create" method="POST">

    <div class="form-group">
      <label for="burger_name">Burger Name:</label>
      <input type="text" id="burger_name" name="burger_name" />
    </div>

    <div class="form-group col s6">
      <label for="devoured">Devoured?</label><br />
      <input type="checkbox" name="devoured" value="1" checked />Devoured! <br />
      <input type="checkbox" name="devoured" value="0" /> Not Devoured
    </div>

        <!-- Switch -->
    <div class="switch">
      <label>
        Not Devoured
        <input type="checkbox" value="1" checked>
        <span class="lever"></span>
        Devoured!
      </label>
    </div>




    <button type="submit"> Add Burger</button>
  </form>
</div>

{{> parallax/parallax2}}